# Test Case PM_001: Landing page
* Created By: Deepak
* Reviewed By:
* Version: 1.0

### QA Tester’s Log

| Tester's Name | Date Tested | Test Case |
| --- | --- | --- |
|     | [Date] | [Pass] |

| S # | Prerequisites | Test Data |
| --- | --- | --- |
| 1 | The landing page should be accessible  properly.| |
| 2 | The landing page should have sign in button| |

## Test Scenario
To verify that if user not login they can see the option to sign in when  open the landing page.


### Test Steps:
| Step # | Step Details | Expected Results | Actual Results | Pass / Fail / Not executed / Suspended |
| --- | --- | --- | --- | --- |
| 1 | Open the landing page |  The landing should be displayed. | User is able to see/ access the landing page | Pass |		
| 2 | Check the sign in option | The user is not login and able to see the Sign in button   | The user is able to see the sign-in button without login. |  Pass |
| 3 | Click on the "Sign in" button. | The user is able to click on sign in button and redirect to sign in page | The user is able to Click on the sign-in button and re-directed to the sign up page successfully | Pass |	



# Test Case PM_002: Landing page
* Created By: Deepak
* Reviewed By:
* Version: 1.0

### QA Tester’s Log

| Tester's Name | Date Tested | Test Case |
| --- | --- | --- |
|     | [Date] | [Pass] |

| S # | Prerequisites | Test Data |
| --- | --- | --- |
| 1 | The landing page should be accessible  properly.| |
| 2 | The landing page should have sign in button| |

## Test Scenario
To verify that if user is signed in, the landing page display the user’s name


### Test Steps:
| Step # | Step Details | Expected Results | Actual Results | Pass / Fail / Not executed / Suspended |
| --- | --- | --- | --- | --- |
| 1 | Open the landing page |  The landing should be displayed. | User is able to see/ access the landing page | Pass |		
| 2 | Check the sign in option | The user is not login and able to see the Sign in button   | The user is not login and able to see the sign in button. |  Pass |
| 3 | Click on the "Sign in" button. | The user is able to click on sign in button and redirect to sign in page | The user is able to click on sign in button and redirect to sign in page | Pass |	
| 4 | Enter a valid username and  password. | The username and password should be accepted by the system. | The User entered the  username and password and accepted by the system. | Pass |	
| 5 | Click on the "Sign in" button. | The system should validate the username and password and allow user to sign in | The system validated the username and password and allow user to sign in | Pass |	
| 6 | Verify that the user is redirected to the appropriate page. | The user should be redirected to landing page. | The user is redirected to landing page. | Pass |	
| 7 | Verify that the user is able to see their name on landing page | The user's name is displayed on the landing page after signed in  | The user's name is displayed on the landing page after signed in  | Pass |	


# Test Case PM_003: Landing page
* Created By: Deepak
* Reviewed By:
* Version: 1.0

### QA Tester’s Log

| Tester's Name | Date Tested | Test Case |
| --- | --- | --- |
|     | [Date] | [Pass] |

| S # | Prerequisites | Test Data |
| --- | --- | --- |
| 1 | The landing page should be accessible  properly.| |
| 2 | The landing page should have sign in button| |

## Test Scenario
To verify that if user is signed in, the landing page display the button/link to sign out

### Test Steps:
| Step # | Step Details | Expected Results | Actual Results | Pass / Fail / Not executed / Suspended |
| --- | --- | --- | --- | --- |
| 1 | Open the landing page |  The landing should be displayed. | User is able to see/ access the landing page | Pass |		
| 2 | Check the sign in option | The user is not login and able to see the Sign in button   | The user is not login and able to see the sign in button. | Pass |
| 3 | Click on the "Sign in" button. | The user is able to click on sign in button and redirect to sign in page | The user is able to click on sign in button and redirect to sign in page | Pass |	
| 4 | Enter a valid username and  password. | The username and password should be accepted by the system. | The User entered the  username and password and accepted by the system. | Pass |	
| 5 | Click on the "Sign in" button. | The system should validate the username and password and allow user to sign in | The system validated the username and password and allow user to sign in | Pass |	
| 6 | Verify that the user is redirected to the appropriate page. | The user should be redirected to landing page. | The user is redirected to landing page. | Pass |	
| 7 | Verify that the user is able to see Sign out button | The user is able to click on sign out button to redirect to landing page (with sign in option) | The user is sign in and able to click on sign out button to redirect to landing page | Pass |	



# Test Case PM_001: Sign in page
* Created By: Deepak
* Reviewed By:
* Version: 1.0

### QA Tester’s Log

| Tester's Name | Date Tested | Test Case |
| --- | --- | --- |
|     | [Date] | [Pass] |

| S # | Prerequisites | Test Data |
| --- | --- | --- |
| 1 | The sign in page should be accessible and functioning properly.| |
| 2 | The form should have fields to Enter  the required information (username and  password).| |
| 3 | The form should have a Sign in button to submit the form.| |

## Test Scenario
To verify that a user can successfully sign in when  required username and password are entered correctly.

### Test Steps:
| Step # | Step Details | Expected Results | Actual Results | Pass / Fail / Not executed / Suspended |
| --- | --- | --- | --- | --- |
| 1 | Open the sign in page |   The sign in page should be displayed. | The user is able to access the sign in page correctly | Pass |		
| 2 | Enter a valid username and  password. | The username and password should be accepted by the system.   | The system accepted the correct username and passsword | Pass |
| 3 | Click on the "Sign in" button. | The system should validate the username and password and allow user to sign in | The system validated the username and password and allow user to sign in | Pass |	



# Test Case PM_002: Sign in page
* Created By: Deepak
* Reviewed By:
* Version: 1.0

### QA Tester’s Log

| Tester's Name | Date Tested | Test Case |
| --- | --- | --- |
|     | [Date] | [Pass] |

| S # | Prerequisites | Test Data |
| --- | --- | --- |
| 1 | The sign in page should be accessible and functioning properly.| |
| 2 | The form should have fields to Enter  the required information (username and  password).| |
| 3 | The form should have a Sign in button to submit the form.| |

## Test Scenario
To verify that a user can successfully sign in and navigated to landing page

### Test Steps:
| Step # | Step Details | Expected Results | Actual Results | Pass / Fail / Not executed / Suspended |
| --- | --- | --- | --- | --- |
| 1 | Open the sign in page |   The sign in page should be displayed. | The user is able to access the sign in page correctly | Pass |		
| 2 | Enter a valid username and  password. | The username and password should be accepted by the system.   | The system accepted the correct username and passsword | Pass |
| 3 | Click on the "Sign in" button. | The system should validate the username and password and allow user to sign in | The system validated the username and password and allow user to sign in | Pass |	
| 4 | Verify that the user is redirected to the appropriate page. | The user should be redirected to landing page. | The user is redirected to the landing page correctly after the sign in | Pass |	




# Test Case PM_003: Sign in page
* Created By: Deepak
* Reviewed By:
* Version: 1.0

### QA Tester’s Log

| Tester's Name | Date Tested | Test Case |
| --- | --- | --- |
|     | [Date] | [Pass] |

| S # | Prerequisites | Test Data |
| --- | --- | --- |
| 1 | The sign in page should be accessible and functioning properly.| |
| 2 | The form should have fields to Enter  the required information (username and  password).| |
| 3 | The form should have a Sign in button to submit the form.| |

## Test Scenario
To verify that the system displays an appropriate error message when the username and  password enter incorrectly.

### Test Steps:
| Step # | Step Details | Expected Results | Actual Results | Pass / Fail / Not executed / Suspended |
| --- | --- | --- | --- | --- |
| 1 | Open the sign in page |   The sign in page should be displayed. | The user is able to access the sign in page correctly | Pass |		
| 2 | Enter a username and  password. | The username and password should be accepted by the system.   | The system accepted the username and passsword | Pass |
| 3 | Click on the "Sign in" button. | The system should validate the Username and password and display an appropriate error message indicating that the username and password do not match. | The system validated the username and password and displayed the error message for wrong password "Missing Username and Password" | Pass |	



# Test Case PM_004: Sign in page
* Created By: Deepak
* Reviewed By:
* Version: 1.0

### QA Tester’s Log

| Tester's Name | Date Tested | Test Case |
| --- | --- | --- |
|     | [Date] | [Failed] |

| S # | Prerequisites | Test Data |
| --- | --- | --- |
| 1 | The sign in page should be accessible and functioning properly.| |
| 2 | The form should have fields to Enter  the required information (username and  password).| |
| 3 | The form should have a Sign in button to submit the form.| |

## Test Scenario
To verify that the system displays an appropriate error message when the password field is left blank.

### Test Steps:
| Step # | Step Details | Expected Results | Actual Results | Pass / Fail / Not executed / Suspended |
| --- | --- | --- | --- | --- |
| 1 | Open the sign in page |   The sign in page should be displayed. | The user is able to access the sign in page correctly | Pass |		
| 2 | Enter a username  | The username  should be accepted by the system.   | The User entered the username and accepted by the system | Pass |
| 3 | Leave the Password field blank. | The Password field should be left blank. | The user left the password field blank | Pass |	
| 4 | Click on the "Sign in" button. | The system should validate the input and display an appropriate error message indicating that the Please enter password. | The user clicked on sign in button, But system did not display any error message for blank password field | Failed |	


# Test Case PM_005: Sign in page
* Created By: Deepak
* Reviewed By:
* Version: 1.0

### QA Tester’s Log

| Tester's Name | Date Tested | Test Case |
| --- | --- | --- |
|     | [Date] | [Pass] |

| S # | Prerequisites | Test Data |
| --- | --- | --- |
| 1 | The sign in page should be accessible and functioning properly.| |
| 2 | The form should have fields to Enter  the required information (username and  password).| |
| 3 | The form should have a Sign in button to submit the form.| |

## Test Scenario
To verify that the system display error message if user not exist and try to login

### Test Steps:
| Step # | Step Details | Expected Results | Actual Results | Pass / Fail / Not executed / Suspended |
| --- | --- | --- | --- | --- |
| 1 | Open the sign in page |   The sign in page should be displayed. | The user is able to access the sign in page correctly | Pass |		
| 2 | Enter a valid username and  password. | The username and password should be accepted by the system.   | The user entered the username and password and  accepted by the system. | Pass |
| 3 | Click on the "Sign in" button. | The system should validate the username and password and If user not exist then  display the appropriate message indicating that the user not exist, please sign up | The system  validated the username and password and display the appropriate message indicating that the username and password missing | Pass |	



# Test Case PM_005: Sign in page
* Created By: Deepak
* Reviewed By:
* Version: 1.0

### QA Tester’s Log

| Tester's Name | Date Tested | Test Case |
| --- | --- | --- |
|     | [Date] | [Pass] |

| S # | Prerequisites | Test Data |
| --- | --- | --- |
| 1 | The sign in page should be accessible and functioning properly.| |
| 2 | The form should have fields to Enter  the required information (username and  password).| |
| 3 | The form should have a Sign in button to submit the form.| |

## Test Scenario
To verify that the sign in page has button to redirect to sign up page

### Test Steps:
| Step # | Step Details | Expected Results | Actual Results | Pass / Fail / Not executed / Suspended |
| --- | --- | --- | --- | --- |
| 1 | Open the sign in page |   The sign in page should be displayed. | The user is able to access the sign in page correctly | Pass |		
| 2 | Display the sign up button on sign in page  | The sign in page  should have button to redirect to sign up page    | The user is able to see the sign up bitton on sign in page | Pass |
| 3 | Click on 'sign up' button | The user should be redirect to the sign up page. | The user clicked on sign up button and redirected to the sign up page | Pass |	


