.guestLanding {
    font-family: "Times New Roman", Times, serif;
  }
  .card {
    height: 90%;
    background-color: darkcyan;
    backdrop-filter: blur(5px);
    font-family: "Times New Roman", Times, serif;
    border: none;
    border-radius: 20px;
    margin-bottom: 2rem;
    padding: 1rem;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: black;
    font-weight: bolder;
  }
  
  .card-text {
    font-size: 1rem;
    height: 60px;
    text-overflow: ellipsis;
  }
  
  .card-img-top {
      height: 250px;
      object-fit: scale-down;
      margin-bottom: 1rem;
  }
  
  .source {
    font-size: 1rem;
    color: #000;
  }
  
  .btn {
    background-color: #fff;
    color: rgba(0, 139, 139, 0.8);
    border: none;
  }
  
  .btn:hover {
    background-color: black;
    color: white;
  }
  