p {
  margin-top: 13px;
  margin-bottom: 1rem;
  color: white;
  font-size: 15px;
}

.HeadingTitle {
  position: relative;
  left: 20%;

  /* display: inline-block;
  margin-left: 10px; */
}
.custom-button {
  color: white;
  border-color: rgb(209, 209, 228);
}

.custom-button:hover {
  background-color: rgb(85, 105, 152);
  color: white;
}

.navbar {
  /* background-color:rgb(218, 93, 93) */
  background-color: darkcyan;
}

.navbar-brand {
  color:black;
}

.navbar-brand:hover {
  color: white;
}
