.HeadingTitle {
  position: relative;
  left: 20%;

}
.custom-button {
  color: white;
  border-color: rgb(209, 209, 228);
}

.custom-button:hover {
  background-color: rgb(85, 105, 152);
  color: white;
}

.navbar {
  /* background-color:rgb(218, 93, 93) */
  background-color: #6fd2d2;
  border-bottom: 2px solid darkcyan;
  border: top 2px solid darkcyan; 
}

.navbar-brand {
  color:black;
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  font-weight: bold;
  text-shadow: 1px 1px white;
}

.navbar-brand:hover {
  color: white;
  text-shadow: 1px 1px black;
  
}

.p {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: bold;
  text-shadow: 1px 1px white;
}